@media (max-width:1200px) {

    html {
        font-size: 1rem;
    }

    .site-main {
        max-width: 1000px;
        margin: auto;
    }

    .hero {
        max-height: 50vh;
    }

    .toggle-menu {
        display: none;
    }

    .site-navigation {
        display: flex;
    }

    .border-bottom {
        border-bottom: 1px dotted #777;
        max-width: 1000px;
        margin: auto;
    }



}